fastapi
uvicorn
pandas
numpy
prophet
tensorflow
scikit-learn
langchain
langchain_community
langchain-huggingface
sentence-transformers
chromadb
python-dotenv
scipy
plotly
python-multipart
huggingface-hub
matplotlib